body {
  background-color:black;
}

table, th, td {
   border: 8px solid white;
   font-size: 50px;
}

table {
  border-collapse: collapse;
}

td {
  width: 100px;
  height: 100px;
  padding: 15px;
  text-align: center;
  color:white;
}

td:hover {
  background-color:red;
}

#b00 {
  border-top: 8px none black;
  border-right: solid;
  border-bottom: dotted;
  border-left: none;
}

h1 {
  color:white;
}
