body {
  background-color: black;
}

table, th, td {
   border: 8px solid white;
   font-size: 50px;
}

table {
  border-collapse: collapse;
}

td {
  width: 100px;
  height: 100px;
  padding: 15px;
  text-align: center;
  color: white;
}

td:hover {
  background-color: red;
}

h1 {
  color: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#SPA {
  width: 422px;
  height: 461px;
}